.line-header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  margin: var(--spacing-7) 0rem 0rem 0rem;

  span {
    font-size: var(--font-size-5);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    font-style: italic;
    font-family: "Cinzel Decorative";
    font-weight: 700;
  }

  hr {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: var(--primary-6);
  }
}
