section.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-grow: 1;

    padding-left: var(--spacing-7);
    padding-right: var(--spacing-7);

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    > *:not(:last-child) {
      flex-grow: 1;
      margin-right: var(--spacing-5);

      @media screen and (max-width: 800px) {
        margin-right: 0rem;
        margin-bottom: var(--spacing-5);
      }
    }
  }
}
